<extends src='layout.html'>
  <block name='content'>
    <div class="name">
      <h1>Sabine Smith</h1>
    </div>
    <nav>
      <ul>
        <li><a href="https://www.instagram.com/sabinee.jpg/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="mailto: scrswim@yahoo.com"><i class="fa fa-envelope"></i></a></li>
      </ul>
    </nav>


    <div class="masonry">

      <a href="img/1.jpg" data-lightbox="1.jpg" data-title="My caption"><div class="brick image"><img src="img/1.jpg"></div></a>
			<a href="img/2.jpg" data-lightbox="2.jpg" data-title="My caption"><div class="brick image"><img src="img/2.jpg"></div></a>
      <a href="img/3.jpg" data-lightbox="3.jpg" data-title="My caption"><div class="brick image"><img src="img/3.jpg"></div></a>
      <a href="img/4.jpg" data-lightbox="4.jpg" data-title="My caption"><div class="brick image"><img src="img/4.jpg"></div></a>
      <a href="img/5.jpg" data-lightbox="5.jpg" data-title="My caption"><div class="brick image"><img src="img/5.jpg"></div></a>
      <a href="img/6.jpg" data-lightbox="6.jpg" data-title="My caption"><div class="brick image"><img src="img/6.jpg"></div></a>
      <a href="img/7.jpg" data-lightbox="7.jpg" data-title="My caption"><div class="brick image"><img src="img/7.jpg"></div></a>
      <a href="img/8.jpg" data-lightbox="8.jpg" data-title="My caption"><div class="brick image"><img src="img/8.jpg"></div></a>
      <a href="img/9.jpg" data-lightbox="9.jpg" data-title="My caption"><div class="brick image"><img src="img/9.jpg"></div></a>
      <a href="img/10.jpg" data-lightbox="10.jpg" data-title="My caption"><div class="brick image"><img src="img/10.jpg"></div></a>
      <a href="img/11.jpg" data-lightbox="11.jpg" data-title="My caption"><div class="brick image"><img src="img/11.jpg"></div></a>
      <a href="img/12.jpg" data-lightbox="12.jpg" data-title="My caption"><div class="brick image"><img src="img/12.jpg"></div></a>
      <a href="img/13.jpg" data-lightbox="13.jpg" data-title="My caption"><div class="brick image"><img src="img/13.jpg"></div></a>
      <a href="img/14.jpg" data-lightbox="14.jpg" data-title="My caption"><div class="brick image"><img src="img/14.jpg"></div></a>
      <a href="img/15.jpg" data-lightbox="15.jpg" data-title="My caption"><div class="brick image"><img src="img/15.jpg"></div></a>
      <a href="img/16.jpg" data-lightbox="16.jpg" data-title="My caption"><div class="brick image"><img src="img/16.jpg"></div></a>
      <a href="img/17.jpg" data-lightbox="17.jpg" data-title="My caption"><div class="brick image"><img src="img/17.jpg"></div></a>
      <a href="img/18.jpg" data-lightbox="18.jpg" data-title="My caption"><div class="brick image"><img src="img/18.jpg"></div></a>
      <a href="img/19.jpg" data-lightbox="19.jpg" data-title="My caption"><div class="brick image"><img src="img/19.jpg"></div></a>
      <a href="img/20.jpg" data-lightbox="20.jpg" data-title="My caption"><div class="brick image"><img src="img/20.jpg"></div></a>
		</div>

  </block>
</extends>
