body {
  padding: 50px;
  font-family: 'Simplifica';
  letter-spacing: .25rem;
}

.name {
  text-align: center;
  font-size: 3.5em;
}

nav {
  font-size: 14pt;
  text-align: center;
  font-family: 'Cabin Condensed', sans-serif;
}

nav li{
  display: inline-block;
  padding: 5px 15px 50px 15px;
}
